.VisitorButton{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: baseline;
    background-color: #6B8C5F;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    width: 120px;
    height: 40px;
    margin-top: 40px;
    margin-left: 150px;
    margin-bottom: 20px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease
}
.VisitorButton:hover{
    transform: scale(1.04);
    background-color: #3B5F2C; /* 어두운 포커스 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
    color: white;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4열 */
  grid-template-rows: repeat(2, auto);   /* 2행 (자동 높이) */
  gap: 80px;
  padding: 20px;
  padding-left: 150px;
  padding-right: 150px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.photo-image {
  width: 200px;
  height: 200px;
  aspect-ratio: 1 / 1; /* 정사각형 비율 유지 */
  object-fit: cover;
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  object-fit: cover;

}

.photo-description {
  margin-top: 10px;
  font-weight: 400;
  align-self: baseline;
  padding-left: 30px;
}

.photo-name {
  font-size: 0.9rem;
  color: #666;
  align-self: baseline;
  padding-left: 30px;
}
.gallery-controls{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}