@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.LoginFullPage{
  width: 100%;
  height: 900px;
}
.LoginPage-Page{
    position: absolute;
    top:90px;
    bottom: 150px;
    width: 500px;
    height: 600px;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    flex-direction: column;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    font-family: 'BMHANNAAir';
    /* ✨ 그림자 추가 */
    
}
.LoginPage-Headline{
     margin-left: auto;   /* 추가 */
    margin-right: auto;  /* 추가 */
    display: block;
    width: 50%;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
    justify-items: center;
    text-align: center;
    color: #527344a4;
    padding-bottom: 25px;
    border-bottom: 1px solid #ddd;
}
.LoginPage-IdInsert,
.LoginPage-PasswordInsert {
    border: 1px solid #ddd;
    
    padding: 12px 16px;
    margin: 12px 60px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #ddd;
   
   
}

.IdInsert,
.PasswordInsert {
    width: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    background: transparent;
    color: #333;

}

.IdInsert::placeholder,
.PasswordInsert::placeholder {
    color: #bbb;
}

.LoginButton, .SignUpButton {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #527344a4; /* 딥 그린 */
    border: 1px solid black;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
    
    font-family: 'BMHANNAAir';
}

.SignUpButton {
    background-color: #F5F5F5; /* 깔끔한 배경 */
    border: 1px solid #4F7942;
    color: #4F7942;
}

.LoginButton:hover, .SignUpButton:hover {
    transform: scale(1.04);
    background-color: #3B5F2C; /* 어두운 포커스 */
    color: white;
}
