@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.html, body{
  padding: 0%;
  margin: 0%;

}

.WelcomePage {
   font-family: 'SF_HambakSnow';
  background: linear-gradient(to bottom, #878787, #000000);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  animation: fadeIn 2s ease-in-out;
  position: relative;
  overflow: hidden;
  background-color: #1a1a1a;
}

.Welcome-Logo{
  color: #ddd;
}
.WelcomePage::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/path/to/flower-petals.gif') center/cover no-repeat;
  opacity: 0.1;
  pointer-events: none;
  z-index: 0;
}

.WelcomePage-Headline {
  font-size: 45px;
  margin-bottom: 40px;
  color: #ddd;
  text-align: center;
  letter-spacing: 1.2px;
  opacity: 0.95;
  animation: fadeSlide 2s ease-out forwards;
  z-index: 1;
}

.EnterButton {
  background-color: rgb(68, 68, 68);
  color: #ffffff;
  padding: 14px 90px;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
  border: 1px solid #aaa;
  z-index: 1;
}

.EnterButton:hover {
  background: linear-gradient(to bottom, #757575, #525252);
  color: white;
  transform: scale(1.05);
}

.Welcome-Top-bar {
  align-self: baseline;
  color: #6B8C5F;
  height: 40px;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  top: 35px;
  left: 80px;
  font-family: 'Nanum Myeongjo', serif;
  z-index: 1;
}

/* 페이드 인 애니메이션 */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 텍스트 슬라이드와 페이드 효과 */
@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
