.QR-Container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    text-align: center;
}

.QR-Title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    color: #d3a560;
}

.QR-Title:hover {
    color: #b38a4d;
}
.QR-Image img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.URLcontent {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.URL-CopyButton {
    background-color: #cbbf90;
    color: white;
    border: 1px solid black;

    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.URL-CopyButton:hover {
    background-color: #bdb381;
}

.QR-Loading,
.QR-Error {
    font-size: 16px;
    color: #888;
    text-align: center;
    margin-top: 20px;
}